/*
=============== 
Variables
===============
*/

:root {
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;

  --clr-green-light: hsl(125, 71%, 86%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;

  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.search-form div {
  display: flex;
  align-items: baseline;
}
.form-input {
  width: 100%;
  max-width: 400px;
  margin-top: 2rem !important;
}

/*
=============== 
Buttons
===============
*/

.btn-container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-container button {
  margin: 1rem 2rem;
  padding: 0.25rem 0.5rem;
}
.btn-container button:active {
  transform: scale(0.95);
}

/*
=============== 
Spinner
===============
*/
.loading-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
}

/*
=============== 
Story
===============
*/
.stories {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}
.stories h1 {
  grid-column: 2 span;
}
@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.story {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}
.story button {
  margin: 0rem 0.4rem;
}
.title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.info {
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
}

.read {
  background: var(--clr-green-light);
}
